* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  background-color: rgb(220, 132, 220);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* Header */
.header {
  height: 50px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
}
