* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* Header */
header {
  height: 70px;
  background-color: orange;
  padding: 0.5rem 1.5rem;
}

/* Footer */
footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
footer svg {
  color: #e4e4e4;
  font-size: 25px;
  margin: 0 0.5rem;
}

/* Sidebar & content */
.app-content {
  display: flex;
  flex: 1;
  align-items: flex-start;
  background-color: antiquewhite;
}

.sidebar {
  height: calc(100vh - 140px);
  background-color: #fff;
}
